html {
  background: #c2fff4;
  font-family: Roboto, sans-serif;
  text-align: center;
}

body { margin-top: 8%; }

h1 { font-size: 55px; }

form { display: inline-block; }

.main-buttons {
  border-radius: 25px;
  background-color: #34bf9a;
  font-size: 20px;
  border: none;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px;
}

input:hover { opacity: 80%; }

#hot-cocoa-img {
  width: 90px;
  margin-bottom: -15px;
}

#snow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 100;
}

.icons-footer {
  font-size: 8px;
  position: absolute;
  bottom: 25px;
}

.faq-button-container {
  position: absolute;
  bottom: 20px;
  right: 2px;
}

.faq-button {
  border-radius: 25px;
  background-color: #8e2be0;
  color: white;
  font-size: 15px;
  border: none;
  text-decoration: none;
  padding: 8px 16px;
  cursor: pointer;
  margin: 5px;
}
