<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yule Log</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <h1>FAQs</h1>
  <h3>Why Yule Log?</h3>
  <p>The holidays are certainly a bit different this year due to the pandemic. Yule Log
    was created so you can gift your friends and family members something that is unique.</p>
  <h3>How does the song lyric generator work?</h3>
  <p>The song lyric generator uses Markov chains</p>
  <h3>Where can I learn more?</h3>
  <p>Check out our Devpost page!</p>
</body>
</html>
