<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yule Log</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
    html {
      background: url("https://media.giphy.com/media/Hj7mksbFWIOdO/giphy.gif") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .spotify-playlist-container {
      position: absolute;
      bottom: 0;
      right: 0;
    }
    </style>
</head>
<body>
    <div class="spotify-playlist-container">
      {{ html_playlist_string | safe }}
    </div>
</body>
</html>
